/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;   
}
/* grandezza intera pagina */
.wrap{
    width: 100%;
    height: 100vh;
    background-color: hsl(0deg 0% 0%);
    position: relative;
}
/* grandezza main  */
main{
    height: calc(100% - 80px);
}
/* centramento di speaker view e icona ingrandimento  */
.top-right{
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    padding-top: 2rem;   
}
/* speaker view  */
.speaker-view{
    color: white;
    font-size: 0.8rem;
    background-color: rgba(237, 231, 225,.5) ;
}
/* icona ingrandimento  */
.zoom{
    background-color:  rgba(237, 231, 225,.5);
}
/* contenitore foto  */
.container{
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
/* contenitore card */
.album{
    width: calc(90% / 7);
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-end;  
}
/* immagine */
.image{
    position: relative;
    display: block;
}
/* nome */
.pinco{
    width: 100px;
    color: white;
    background-color:  rgba(237, 231, 225,.5);
    position: absolute;
    bottom: 3px;  
}
/* parte inferiore  */
footer{
    height: 80px;
    background-color: hsl(0deg 0% 13.33%);
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* spaziatura footer  */
.bottom-line{
    display: flex;
    justify-content: space-between;
}
.left, .center{
    display: flex;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;     
}
/* nome delle icone */
.name{
    color: white;
    margin-top: 10px;
    font-size: 0.8rem;
}
/* icone */
.logo{
    padding: 20px 0 0 5px;  
}
/* spaziatura icone speciali */
.words{
    text-align: center;  
}
/* end meeting */
#end{
    color: red;
   background-color: hsl(0deg 0% 29.02%);
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
}

